<Files edit_housepoints.html>
AuthType Basic  
AuthName "restricted area"  
AuthUserFile file:///C:/Users/kmegi/OneDrive/Documents/Digital%20Technology/edit_housepoints.html.htpasswd  
require valid-user
</Files>