body {
  /* margin of the webpage */
  margin: 0;
  /* font style */
  font-family: 'Archivo';
  overflow-x: hidden;
}

.header {
  /* header style */
  padding: 80px;
  text-align: center;
  background: #A5182D;
  color: white;
}

img.logo {
  /*LHS logo size */
  height: 25%;
  width: 25%;
  float: left;
}  

.header h1 {
  /* header font size*/
  font-size: 40px;
  /*header position */
  text-align: center;
}

.navbar {
  /* top navigation bar colour */
  overflow: hidden;
  background-color: #a5182d;
}

.navbar a {
  /* Link colours and styling */
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 20px;
  text-decoration: none;
}

.navbar a:hover {
  /* Change colour of links on hover */
  background-color: #ddd;
  color: #a5182d;
}

.title {
  /* alignment of page title */
  text-align: center;
}

.display-image {
  /* position of house design image */
position: relative;
/* allows image to be on the same line as well as setting dimensions */
display: inline-block;
}

img.design {
  /* width of house design image */
  width: 200%;
  /* opacity of house design image */
  filter: opacity(20%);
}

pre#events {
  /* position of house event text */
  position: absolute;
  z-index: 2;
  /* font of event text */
  font-family: 'Archivo';
  margin-top: 15px;
  margin-left: 15px;
  /* alignment of event text */
  text-align: left;
}