body {
  /* margin of the webpage */
  margin: 0;
  /* font style */
  font-family: 'Archivo';
}

.header {
  padding: 80px;
  text-align: center;
  background: #A5182D;
  color: white;
}
img.logo {
  /*LHS logo size */
  height: 25%;
  width: 25%;
  float: left;
}

.header h1 {
  /* header font size*/
  font-size: 40px;
  /*header position */
  text-align: left;
}
/* top navigation bar colour */
.navbar {
  overflow: hidden;
  background-color: #a5182d;
}
  
  /* navbar link design */
.navbar a {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 20px;
  text-decoration: none;
}
  
  /* Change colour of links on hover */
.navbar a:hover {
  background-color: #ddd;
  color: #a5182d;
}
/* alignment of the page title */
.title {
  text-align: center;
}

img.patikilogo {
/* patiki logo size */
  float: left;
}

img.kuakalogo {
/* kuaka logo size */
  float: left;
}

img.kotarelogo {
/* kotare logo size */
  float: left;
}

img.kahulogo {
/* kahu logo size */
  float: left;
}

img.makologo {
/* mako logo size */
  float: left;
}

img.inakalogo {
/* inaka logo size */
  float: left;
}

#graph {
/* graph position */
width: 50%;
margin: auto;
}
.center {
  margin-left: auto;
  margin-right: auto;
}

